services:
  postgres:
    image: postgres:15.4
    volumes:
      - .volumes/pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "15436:5432"
    networks:
      - app-network
    restart: always

  mongodb:
    image: mongo:latest
    volumes:
      - .volumes/mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network
    restart: always

  application:
    build: .
    container_name: integration-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres:
        condition: service_started
      mongodb:
        condition: service_started
    ports:
      - "8080:8080"
      - "9090:9090"
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
