spring:
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:15436/postgres
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    mongodb:
      host: localhost
      port: 27017
      database: mydatabase
      auto-index-creation: true

  graphql:
    graphiql:
      enabled: true
    schema:
      locations: classpath:graphql/
    http:
      path: /graphql

grpc:
  server:
    port: 9090

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
